<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css"
          rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!-- Website CSS style -->
    <link href="/css/register.css" rel="stylesheet" type="text/css">

    <!-- Website Font style -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Kayıt</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">
            <form action="register" class="form-horizontal" method="post">

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="name">Your Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-user fa"></i></span>
                            <input class="form-control" id="name" name="name" placeholder="Enter your Name"
                                   type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="email">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-envelope fa"></i></span>
                            <input class="form-control" id="email" name="email" placeholder="Enter your Email"
                                   type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="username">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-users fa"></i></span>
                            <input class="form-control" id="username" name="username" placeholder="Enter your Username"
                                   type="text"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="password">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
                            <input class="form-control" id="password" name="password" placeholder="Enter your Password"
                                   type="password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="cols-sm-2 control-label" for="confirm">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i aria-hidden="true" class="fa fa-lock fa-lg"></i></span>
                            <input class="form-control" id="confirm" name="confirm" placeholder="Confirm your Password"
                                   type="password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <button class="btn btn-primary btn-lg btn-block login-button" type="submit">Register</button>
                </div>
                <div class="login-register">
                    <a href="/login">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>